/* .breadcrumb > li + li:before {
  color: #ccc;
  content: "| ";
  padding: 0 5px;
} */
.background {
   position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.breadcrumb {
  background-color: #ffffff;
}
.breadcrumb li a {
  color: #777777;
}
.navheight {
  height: 12vh;
}
.bgskyblue {
  background-color: #4aaaa5;
}
.fontskyblue {
  color: #4aaaa5;
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 5vh;
    background-color: #666666;
    color: #ffffff;
}
.portfolio-w{
  width: 25vh;
}
.portfolio-h {
    height: 18vh;
}
.portfoliotag {
  flex-flow: row;
  justify-content: center;
  z-index: 1;
  background-color: #4aaaa5;
}